@font-face {
    font-family: 'batman-forever';
    src: url(fonts/batmfa__.ttf);
}
@font-face {
    font-family: 'monda';
    src: url(fonts/Monda-Regular.ttf);
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    width: 70%;
    margin-right: 70px;

}
.single-blog-title{
    font-size: 20px;
    font-family: 'batman-forever';
    color: #333333;
    display: flex;
    justify-content: center;
}
.recent-blogs{
    position: relative;
    display: flex;
    min-height: 300px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    width: 20%;
    margin-right: 70px;
}
.recent-blogs .blog-title{
    font-size: 25px;
    font-family: 'monda';
    color: #002ef9;
}
.single-blog-box{
    background-color: #ffffff;
    border: 1px solid #ececec;
    font-family: 'monda';
    margin: 20px;
}
.single-blog-img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.single-blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 5px 0px 0px;
}
.single-blog-img span{
    color: #5374EC;
}
.blog-text a{
    color: #333333;
}
.blog-text a:hover{
    color: #5374EC;
    transition: all ease 0.3s;
}
.single-blog-description p{
    margin-top: 30px;
    
}
.form-container{
    margin-left: 100px;
    background: #ffffff;
    display: flex;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: rgb(100, 100, 111) 0 7px 29px 0;
}
.form-container .form input{
    display:  flex;
    justify-content: center;
    background: #222222;
    color: #fff;
    font-size: 15px;
    width: 450px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    margin-top: 20px;
}
.form-container .form textarea {
	background: #222222;
	color: white;
	font-size: 15px;
	width: 450px;
	border-radius: 20px;
	padding: 10px;
	border: none;
	outline: none;
	resize: none;
 }
.form-container .form .send{
    background: #222222;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 200px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    opacity: 0.8;
    transition: 0.3s all ease;
}
.inputBox.success input{
    border-color:green ;
}
.inputBox.error input{
    border-color: #ff3860;
}
.inputBox .error{
    color: #ff3860;
    font-size: 13px;
    font-family: 'monda';
    height: 13px;
}


/* .form{
    position: relative;
    display: flex;
}
.like{
    width: 30px;
    height: 30px;
    background: #5374EC;
    border-radius: 50%;
    border: none;
}

.form input{
    
    width: 100%;
} */
/* .form input,
.form textarea{
    width: 100%;
    font-size: 16px;
    font-family: 'monda';
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
} 
.form button{
    width: 60px;
    height: 40px;
    background: #fff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 10px;
    margin-right: 20px;
    border-radius: 10px;
    border:1px solid black;
} */
@media screen and (max-width :700px){
    /*  */
    .recent-blogs{
        display: none;
    
    }
    .content{
        width: 100%;
        margin:10px;
    
    }
    button{
        width: 1140px;
        height: 40px;
        background-color: #002ef9;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }
    button img{
        width: 30px;
        height: 30px;
    }

    button .send{
        width: 100px;
    }
}